@media only screen and (min-width: 650px) {
  .search-bar {
    width: 30%;
    margin: 10px;
    margin-left: 15px;
  }
  .pantry {
    display: flex;
    flex-direction: column;
  }
  .ingredient-list {
    max-height: 80%;
    overflow: auto;
    width: 35%;
    margin: 10px;
    border-style: groove;
    background-color: "#F5F5F5";
  }
}
@media only screen and (max-width: 650px) {
  .search-bar {
    width: 80%;
    margin: auto;
  }
  .pantry {
    display: flex;
    flex-direction: column;
  }
  .ingredient-list {
    max-height: 80%;
    overflow: auto;
    width: 80%;
    margin: auto;
    border-style: groove;
    background-color: "#F5F5F5";
  }
}
.ingredients {
  display: flex;
  flex-direction: column;
}
.add-ingredient {
  display: flex;
  flex-direction: row;
}
